@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');

body{
    background: #FFF5E1;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    color: #333;
    padding-bottom: 70px;
}

.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clickable-nav{
    padding: 10px;
}

.navbar-nav{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}

.nav-item{
    display: inline;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-brand{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

  .social-icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    transition: transform 0.3s;
 }


/* My profile pic*/
  .myself{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
 }

#about{
    text-align: center;
    padding: 10%;
}


/*Media queries for smaller screens*/
@media (max-width: 768px) {
    .social-icon img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px){
    .social-icon img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        gap: 15px;                /* Adjust spacing */
    }
}

.social-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333; /* Dark background */
    color: #fff;      /* White icons */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
    z-index: 999; /* Ensures it stays above other content */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}